body {
    font-family: sans-serif;
    background-color: #E06969;
   
}

header {
    justify-content: space-between;
    padding: ;
    margin-bottom: 20px;
    display: flex;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between; 
    display: flex;
    
}

.nav-link {
    font-size: 24px;
    color: black;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: black;
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
    display: flex;
}

article {
    background-color: white;
    padding: ;
    width: 400px;
    margin: 30px;

}

.article-but {
    text-decoration: none;
    background-color:green;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

footer {
    background-color: #AC13A6;
    padding: ;
    display: flex;
}

footer a {
    margin-right: 10px;
    margin-top: 10px;
}

footer p {
    font-size: 24px;
}
nav a{
    padding: 15px;
}

